<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let user of users">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar><img
          src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg"
          alt="photo" style="border-radius: 50%;width: 50px;height: 50px;"></div>
        <mat-card-title>Name: {{user.name}}, ID: {{user.id}}</mat-card-title>
        <mat-card-subtitle>Username: {{user.username}}</mat-card-subtitle>
        <mat-card-subtitle>Email: {{user.email}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-subtitle>Address: {{user.address.city}} |
        {{user.address.street}} |
        {{user.address.suite}} |
        {{user.address.zipcode}} |
        {{user.address.geo.lat}} |
        {{user.address.geo.lng}}</mat-card-subtitle>
      <mat-card-subtitle>User phone: {{user.phone}}</mat-card-subtitle>
      <mat-card-subtitle>Website: {{user.website}}</mat-card-subtitle>
      <mat-card-subtitle>Company: {{user.company.name}}</mat-card-subtitle>
      <div class="flex-cont">
        <mat-card-actions *ngIf="!isStored(user)">
          <button mat-button (click)="storeUser(user)">Activate</button>
        </mat-card-actions>
        <mat-card-actions *ngIf="isStored(user)">
          <button mat-button (click)="removeUser(user)">Remove</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
